APP_PORT=8080
SERVER_PORT=8080
SQLSERVER_PORT=1433
MSSQL_PID=Express
MSSQL_DATABASE=controle_pedidos
MSSQL_SA_PASSWORD=TroqueEstaSenha123!
SPRING_DATASOURCE_URL=jdbc:sqlserver://sqlserver:1433;databaseName=controle_pedidos;sendStringParametersAsUnicode=false;encrypt=true;trustServerCertificate=true;
SPRING_DATASOURCE_USERNAME=sa
SPRING_DATASOURCE_PASSWORD=TroqueEstaSenha123!
SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_SHOW_SQL=false
JAVA_TOOL_OPTIONS=-XX:+UseContainerSupport -XX:MaxRAMPercentage=75.0
TZ=America/Sao_Paulo
